<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Event Managing Panel</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/custom.css" />


</head>
<body>

	<div class="container">

		<h1 class="welcome text-center">Welcome to Event Panel</h1>
		<div class="card card-container">
			<h2 class='login_title text-center'>Login</h2>
			<hr>

			<p th:if="${param.error}" class="error">
            			Bad Credentials  
        		</p>
        
			<form class="form-signin" th:action="@{/app-login}"
				 method="post">
				<span id="reauth-username" class="reauth-username"></span>
				<p class="input_title">Username</p>
				<input type="text" name="username" class="login_box"
						placeholder="Your username" required
					autofocus />
				<p class="input_title">Password</p>
				<input type="password" name="password" class="login_box"
					placeholder="******" required />
				<button class="btn btn-lg btn-primary" type="submit">Login</button>
			</form>
			<!-- /form -->
		</div>
		<!-- /card-container -->

	</div>
	<!-- /.container -->




	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>

</body>
</html>