<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Event Organizer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

<link rel="shortcut icon" href="https://s3.ap-south-1.amazonaws.com/omio/shorticon.ico">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" type="text/css" href="/css/custom.css" />
<link rel="stylesheet" type="text/css" href="/css/loading.css" />


</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Event Organizer</a>				
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a href="./welcome">Home</a></li>									
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="normal"><a href="./event">Add Event</a></li>
					<li class="normal"><a href="javascript: document.logoutForm.submit()">Logout</a></li>
				</ul>
				 <form name="logoutForm" th:action="@{/app-logout}" method="post" th:hidden="true">
					      <input hidden type="submit"/>
				</form>   				
			</div>
		</div>
	</nav>
	
	<div class="container">		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class='eventListTitle '>Ongoing Events</h1>
				<hr>
				<div class="card-group" id="eventGrp">
					<div class="card col-md-4 col-lg-4 boxShadow"
						th:each="event : ${events}">
						<img class="card-img-top img-responsive"
							th:src="${(event.getImgUrl()!=null 
									&& !#strings.isEmpty(event.getImgUrl()))
									?event.getImgUrl():'https://maxcdn.icons8.com/dotty/PNG/80/Very_Basic/calendar-80.png'}"
							alt="Card image cap">						
						<div class="card-block">
							<h4 class="card-title text-left eventTitle ellipsis" th:text="${event.getName()}"></h4>
							<p class="card-text text-left eventDesc shortDescEllipsis" th:text="${event.getsDesc()}"></p>							
						</div>
						<a type="button" class="btn btn-link pull-left noUnderline deleteCard" th:name="${event.getName()}" th:id="${event.getId()}" >Delete</a>
						<a type="button" class="btn btn-link pull-right noUnderline" th:href="@{./events/{id}(id=${event.getId()})}">Edit</a>														
					</div>				
				</div>
			</div>
			</div>
	</div>	
	<!-- /.container -->
	
	<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title" id="myModalLabel">Confirm to delete</h4>
      </div>
      
      <div class="modal-body">        
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left confirm2delete" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-success pull-right" data-dismiss="modal">No</button>        
      </div>
                
    </div>
  </div>
</div>

<div id="loading" style="display:none">
                <ul class="bokeh">
                    <li></li>
                    <li></li>
                    <li></li>                    
                </ul>
</div>


	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/custom.js"></script>
	<script type="text/javascript" src="/js/jquery.dotdotdot.min.js"></script>
	<script type="text/javascript"
		src="/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript">
		  $(function() {
		    $('#datetimepicker1').datetimepicker(
		    		{ format:"DD/MM/YYYY HH:mm:ss",		    			
		    		});
		  });
</script>
</body>
</html>