<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Event Managing Panel</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>



	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<h1 class='login_title text-center'>Add Event</h1>
				<hr>
				<form class="card" th:action="@{/events}" th:object="${event}"
					method="post">
					<p class="alert alert-danger" th:if="${hasError}"
						th:text="${error}"></p>

					<div class="form-group">
						<label for="name">Event Name</label> <input type="text"
							class="form-control" th:field="*{name}" id="name"
							placeholder="Event name" required autofocus />
					</div>

					<div class="form-group">
						<label for="imgurl">Image Url</label> <input type="text"
							class="form-control" th:field="*{imgUrl}" id="imgurl"
							placeholder="Optional" autofocus />
					</div>

					<div class="form-group">
						<label for="sdesc">Brief Details</label>
						<textarea class="form-control" th:field="*{sDesc}" id="sdesc"
							rows="2" placeholder="Brief Details" required autofocus></textarea>
					</div>

					<div class="form-group">
						<label for="ldesc">Full Details</label>
						<textarea class="form-control" th:field="*{lDesc}" id="ldesc"
							rows="3" placeholder="Optional" autofocus></textarea>
					</div>
					<div class="form-group">
						<label for="stime">Event Start Time</label> <input type="text"
							class="form-control" th:field="*{sTime}" placeholder="Optional"
							id="stime" autofocus />
					</div>

					<div class="form-group">
						<label for="etime">Event End Time</label> <input type="text"
							class="form-control" id="etime" th:field="*{eTime}"
							placeholder="Optional" autofocus />
					</div>

					<button class="btn btn-lg btn-primary" type="submit">Save</button>
				</form>
				<!-- /form -->
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h1>Below events are</h1>

				<div class="card-group">
					<div class="card col-md-4 col-lg-4 boxShadow"
						th:each="event : ${events}">
						<img class="card-img-top img-responsive"
							th:src="${(event.getImgUrl()!=null 
									&& !#strings.isEmpty(event.getImgUrl()))
									?event.getImgUrl():'https://maxcdn.icons8.com/dotty/PNG/80/Very_Basic/calendar-80.png'}"
							alt="Card image cap">
						<div class="card-block">
							<h4 class="card-title" th:text="${event.getName()}"></h4>
							<p class="card-text" th:text="${event.getsDesc()}"></p>
							<p class="card-text">
								<small class="text-muted">Last updated 3 mins ago</small>
							</p>
						</div>
					</div>
					<!-- <ul>
						<li th:each="event : ${events}">
							<div th:text="${event.getName()}"></div>
						</li>
					</ul> -->
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" 
						data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Modal Header</h4>
				</div>
				<div class="modal-body">
					<p>Some text in the modal.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>